<h1><img id="logo" src="/public/images/logo.jpg" alt="Logo">Add Item</h1>

<form action="/items" method="POST">
	<label for="txtItem">Item: </label>
	<input type="text" id="txtItem" name="txtItem">
	<input type="submit" value="Insert">
</form>
