<h1><img id="logo" src="/public/images/logo.jpg" alt="Logo">Login</h1>

<form method="POST" action="/login">
	<label for='txtUsername'>Username: </label>	
	<input type='text' name='username'><br>
	<label for='txtPassword'>Password : </label>
	<input type='password' name='password'><br>
	<input type='submit' value='Login'>
</form>
